[Unit]
Description=Bot discord OneT
After=network.target

[Service]
Environment=NODE_PORT=3001
Type=simple
User=pi
ExecStart=/usr/bin/node /var/www/bot/bot.js
Restart=on-failure

[Install]
WantedBy=multi-user.target